<div  style="background-color: bisque;">
    <span style="margin-right: 30px;">021-95-9416856</span>
    <span style="margin-right: 30px;">email@gmail.com</span>
    <span style="margin-right: 430px;">1743 stationRoad US</span>
    <span style="margin-right: 30px;">USD</span>
    <span style="margin-right: 30px;">MyAccount</span>
</div>
<div  style="background-color: aqua;">
    
    <img [src]="imageSrc" [alt]="" style="margin-right: 300px;" />
    <Strong>Search : </Strong><span   style="margin-right: 100px;" ><input type="search"></span>
    <!-- <span   style="margin-right: 100px;" ><i class="far fa-heart"  aria-hidden style="font-size:36px;"></i></span>
    <span   style="margin-right: 100px;" ><i class="far far-shopping-cart" aria-hidden style="font-size:36px"></i></span> -->
</div>
